ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(28, 0, 131);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

li{
    float: left;    
}

a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: rgba(0, 0, 0, 0.493);
}

.active{
    background-color: #ffa600;
}